body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    text-align: center;
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
}
.homepage{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.profile{
    max-width: 30vw;
}
.profile-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
.profile-top img{
    width: 20vw;
    height: 40vh;
    padding: 1em;
    border-radius: 50%;
    border: 1px solid black;
}
.names{
    font-weight: normal;
}
.names span{
    font-size: 1.1em;
}
.location, .email, .twitter{
    font-size: .95em;
    display: flex;
    align-items: center;
    margin-bottom: .4em;
}
.dot{
    color: red;
}
.follower-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1em;
}
.profile-bottom{
    text-align: left;
    padding: 1em;
}
.profile-bottom-div{
    display: flex;
    flex-direction: column;
}

/* title styling */
.titles{
    border-bottom: 1px solid #d9d9dd;
    height: 10vh;
}
.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15em;
}
.headings li{
    list-style-type: none;
    margin-right: 1.5em;
    font-size: .9em;
    display: flex;
    justify-content: center;
}
.headings .icons{
    margin-right: .2em;
    color: #959da5;
    width: 18px;
}
.icons{
    font-size:  17px;
    margin-right: .4em;
}
