/* media queries for all pages */
@media screen and (min-width:800px){
    .page-container{
        flex-direction: row;
        justify-content:space-around;
    }
    .nav-right, .nav-left{
        display: flex;
    }
    .profile{
        max-width:20vw;
        margin: 0;
        position: relative;
        top: -4em;
    }
    .profile-top{
        flex-direction: column;
    }
    .profile-top img{
        margin-top: 2.5em;
        width: 100%;
        margin-bottom: -1em;
        margin-left: 1em;
    }
    .edit-profile{
        width: 20vw;
        height: 1.5em;
    }
    .twitter, .location{
        display: block;
    }
    .search-repo, .repo-type, .sort, .repo-language, .new-repo{
        display: flex;
    }
    .search-repo{
        width: 50vw;
        margin-bottom: 0;
    }
    .repo-section{
        max-width: 65vw;
        margin: 0;
    }
    .names{
        text-align: left;
    }
    .names span{
        margin-top: -2em;
    }
    .follower-info{
        font-size: .9em;
        justify-content: flex-start;
    }
    .icons{
        margin-left: -.3em;
        margin-right: .1em;
    }
    .titles{
        display: flex;
    }
    .top-bar{
        display: flex;
    }
    .repos{
        width: 65vw;
        margin: 0em;
    }
    .search-repo{
        margin-right: .5em;
    }
    .mobile-headings{
        display: none;
    }
    .mobile-nav{
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .profile-bottom-div{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:870px){
    .nav-ul{
        display: none;
    }
}