/* repository styles */

.repos{
    border-bottom: 1px solid rgb(233, 230, 230);
    /* max-width: 68vw; */
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: left;
    /* padding-top: 1em; */
    padding-bottom: 1em;
    font-size: .95em;
}

.edit-profile{
    width:90vw;
    height: 2em;
    background-color: rgb(249, 250, 252);
    cursor: pointer;
}
.search-repo{
    margin-bottom: 1em;
    height: 2em;
    width: 90vw;
}
.repo-type, .sort, .repo-language{
    background-color: rgb(249, 250, 252);
    height: 2.5em;
    margin-left: .3em;
    cursor: pointer;
}
.edit-profile, .search-repo, .repo-type, .sort, .repo-language, .new-repo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2em;
    font-weight: 420;
    font-size: .9em;
    border-radius: .4em;
    border: 1px solid rgb(233, 230, 230);
}
.new-repo{
    background-color: #2ea44f;
    color: #fff;
    font-weight: bold;
    font-size: .9em;
    margin-left: 1em;
    padding-right:1em ;
    padding-left: 1em;
    transition: background-color 250ms ease;
    cursor: pointer;
    display: none;
}
.new-repo:hover{
    background-color: #2a8f47;
}
.search-repo{
    /* margin-right: .5em; */
    outline-color: rgb(150, 150, 250);
}
.lang-div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.repo-left{
    width: 70%;
}
.repo-left > div{
    color: #586069;
    font-size: .9em
}
.repo-left .description, .updated-at, .language-name{
    font-size: .9em !important;
    color: #586069;
}
.star-count-div{
    margin-right: 1em;
}
.language-name{
    margin-right: 1em;
}
.star-div{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(249, 250, 252);
    border: 1px solid rgb(233, 230, 230);
    padding: .3em .8em;
    border-radius: .4em;
    font-size: .95em;
    cursor: pointer;
    transition: all 250ms ease;
}
.star-div:hover{
    border-color: grey;
}
.repo-section{
    display: block;
    max-width: 90vw;
    margin: auto;
}
.repo-count{
    background-color:rgb(233, 230, 230);
    padding: .4em;
    margin-left: .5em;
    font-size: .8em;
    font-weight: bold;
}
.name-lang{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.lang-container, .lang-div{
    display: flex;
    align-items: center;
    margin-top: .5em;
}
.circle-icon, .heading-icon{
    margin-right: .5em;
}
.circle-color{
    width: 1em;
    height: 1em;
    /* background-color: red; */
    border-radius: 50%;
    margin-right: .5em;
}
.lang{
    margin-top: 1em;
}
.dot-icon{
    color: rgb(126, 126, 126);
}
.circle-icon{
    color: rgb(219, 230, 123);
}
.repo-name{
    color: rgb(14, 86, 241);
    font-size: 1.5em;
    font-weight: bold;
}
.repo{
    width: 18px;
}
.repo-url{
    text-decoration: none;
}
.repo-url:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(14, 86, 241);
}
.top-bar{
    border-bottom: 1px solid rgb(233, 230, 230);
    padding-bottom: 1em;
    margin-top: 1em;
}
.categories{
    display: flex;
}

/* title part styling */
.titles{
    overflow-x: auto;
    border-bottom: 1px solid rgb(233, 230, 230);
    max-height: 4.25em;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
}
.title-left{
    width: 28vw;
}
.headings{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}
.headings li{
    list-style-type: none;
    font-size: .9em;
    display: flex;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1.5em;
}
.overview-li, .project-li, .packages-li{
    padding-bottom: 1.15em;
    border-bottom: 2px solid white;
}
.repo-li{
    padding-bottom: .75em;
    border-bottom: 2px solid rgb(231, 90, 34);
} 
.overview-li:hover, .project-li:hover, .packages-li:hover{
    border-bottom: 2px solid rgb(211, 210, 210);
}
.headings .icons{
    margin-right: .2em;
    width: 18px;
}
.headings span{
    cursor: pointer;
}
.repo-text{
    font-weight: 420;
}
