body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    text-align: center;
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
}
.hide{
    display: none;
}
.page-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.profile-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.profile-top img{
    width: 20%;
    border-radius: 50%;
    border: 1px solid #d9d9dd;
    position: relative;
    margin: .5em 1em 1em ;
}
.circle-wrap{
    width: 2em;
    height: 2em;
    background-color: white;
    position: absolute;
    top: 19em;
    left: 17em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9dd;
    display: none;
}
.names{
    font-weight: normal;
    padding-bottom: 1em;
}
.names span{
    font-size: 1.1em;
    color: grey;
    font-weight: 380;
}
.names h1{
    margin-bottom: 2px;
}
.location, .email, .twitter, .website{
    font-size: .95em;
    display: flex;
    align-items: center;
    margin-bottom: .4em;
}
.location, .twitter{
    display: none;
}
.location-icon, .people-icon{
    width: 1.3em;
}
.follower-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1.5em;
}
.follower-info p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.follower-info .fa-star, .following{
    margin-left: .5em;
}
.follower-info span, .follower-info i{
    cursor: pointer;
}
.follower-info span:hover, .follower-info i:hover{
    color: rgb(14, 86, 241);;
}
.profile-bottom{
    text-align: left;
}
.profile-bottom-div{
    display: flex;
    flex-direction: column;
}

.fa-star, .fa-envelope, .fa-twitter, .fa-link {
    color: grey;
    font-size: 1em;
}
.website-name, .twitter-handle{
    color: inherit;
    text-decoration: none;
    transition: color 250ms ease;
}
.website-name:hover, .twitter-handle:hover{
    color: rgb(14, 86, 241);
    text-decoration: underline;
}
/* .overlapping-line{
    width: 100%;
    height: 1px;
    background-color:   rgb(233, 230, 230);
    position: absolute;
    top: 8.2em;
    top: 16vh;
} */
.profile{
    max-width: 90vw;
    margin: auto;
}